@model IEnumerable<GenerationC.Database.models.Device>
@using PagedList.Mvc;

@{
    ViewBag.Title = "My devices";
}

    <div class="container">

        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

        </div>

        <div class="form-inline float-lg-left">
            <span><button id="new" class="new"><i class="far fa-plus-square fa-2x"></i></button> New device?</span>
        </div>

         <div class="form-inline float-lg-right">
             @using (Html.BeginForm("Index", "Devices", FormMethod.Get))
              {
               <p>
                   <strong>Find by name or type: </strong>
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control text-center" })
                    <input type="submit" value="Search" class="btn btn-outline-primary" />
              </p>

              }
         </div>
            <table class="table table-responsive-md table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Device Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Gateway</th>
                        <th scope="col">Created at</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gateway)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Created_at)
                            </td>
                            <td>
                                <span>Details <button id="@item.Id" data-id="@item.Id" class="details"><i class="fas fa-info"></i></button></span>
                                <span>Update <button id="@item.Id" data-id="@item.Id" class="edit"><i class="far fa-edit"></i></button></span>
                                <span>Delete <button id="@item.Id" data-id="@item.Id" class="delete"><i class="fas fa-trash-alt"></i></button></span>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>

        </div>


        @section scripts {
            <script>

                
                $(function () {
                    $(".new").click(function () {
                        var id = $(this).attr("data-id");
                        $("#modal").load("Devices/New/", function () {
                            $("#modal").modal();
                        })
                    })
                });


                $(function () {
                    $(".details").click(function () {
                        var id = $(this).attr("data-id");
                        $("#modal").load("Devices/Details/" + id, function () {
                            $("#modal").modal();
                        })
                    })
                });

                $(function () {
                    $(".edit").click(function () {
                        var id = $(this).attr("data-id");
                        $("#modal").load("Devices/Edit/" + id, function () {
                            $("#modal").modal();
                        })
                    })
                });
                $(function () {
                    $(".delete").click(function () {
                        var id = $(this).attr("data-id");
                        $("#modal").load("Devices/Delete/" + id, function () {
                            $("#modal").modal();
                        })
                    })
                });



                $("modal").on("hidden.bs.modal", function (e) {
                    $(".modal-content").html("");
                })
            </script>

        }
