@{
    int Id = 0;
    try
    {
        Id = Convert.ToInt32(Request.Cookies["Id"].Value.ToString());
    }
    catch
    {
        Id = 0;
    }

}
@if (Id != 0)
{
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="https://github.com/hedgarbezerra"><i class="fab fa-github fa-2x"></i></a>
        <a href="@Url.Action("Index", "Home")" class="navbar-brand"> Generation C </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Home")" class="nav-link"> Home </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Devices
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a href="@Url.Action("Create", "Devices")" class="dropdown-item"> New Device </a>
                        <div class="dropdown-divider"></div>
                        <a href="@Url.Action("Index", "Devices")" class="dropdown-item"> My Devices </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("About", "Home")" class="nav-link"> The creator</a>

                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <i class="nav-link"> Welcome back, @Request.Cookies["Name"].Value.ToString()</i>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Details", "Users", new {Id = Id })" class="nav-link"> Settings <i class="far fa-user"></i></a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Logout", "Login")" class="nav-link"> Logout <i class="fas fa-sign-out-alt"></i></a>
                </li>
            </ul>
        </div>
    </nav>
}
else
{
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="https://github.com/hedgarbezerra"><i class="fab fa-github fa-2x"></i></a>
        <a href="@Url.Action("Index", "Home")" class="navbar-brand"> Generation C </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Home")" class="nav-link"> Home </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("About", "Home")" class="nav-link"> The creator </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Login")" class="nav-link"> Login<i class="far fa-user"></i></a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Create", "Users")" class="nav-link"> Sign Up <i class="fas fa-sign-out-alt"></i></a>


                </li>
            </ul>
        </div>
    </nav>
}